body{
    margin:0px;
    background :#616d77;
}

.titre_page{
    color:white;
    text-align:center;
    height:60px;
    background :#ED1D24;
    margin:0px;
}

.titre_section{
    text-align:center;
}

.img_col1{
    width:50%;
    flex:1;
    margin-left:20px;
    margin-right: auto;
}

.img_col2{
    width:50%;
    flex:1;
    margin-left:25%;
    margin-right: auto;
}

.img_col3{
    width:50%;
    flex:1;
    margin-left:40%;
    margin-right: auto;
}

.img_col12{
    width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_col22{
    width:35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ligne{
    display: flex;
}

.txt_col1{
    flex:2.25;
    color:white;
    margin-left:20px;
    margin-right:auto;
}

.txt_col2{
    flex:2.25;
    color:white;
    margin-left:35px;
    margin-right:auto;
}

.txt_col3{
    flex:1;
    color:#ffffff;
    text-align:left;
    margin-left:auto;
    margin-right:20px;
}

.txt_col12{
    flex:1;
    color:#ffffff;
    text-align : center;
}

.txt_col22{
    flex:1;
    color:#ffffff;
    text-align : center;
}