body{
    margin:0px;
    background-image :url(fond.jpg);
    background-repeat:no-repeat;
    
    background-attachment: fixed;
}

.contenu{
    min-height:100%;
    position:relative;
}

.titre_page{
    color:white;
    text-align:center;
    height:60px;
    background :#ED1D24;
    margin:0px;
    line-height:60px;
}

.titre_section{
    color:white;
    text-align:center;
}

.img_col1{
    width:50%;
    flex:1;
    margin-left:5%;
    margin-right: auto;
}

.img_col2{
    width:50%;
    flex:1;
    margin-left:25%;
    margin-right: auto;
}

.img_col3{
    width:50%;
    flex:1;
    margin-left:40%;
    margin-right: auto;
}

.img_col12{
    width:35%;
    display: block;
    margin-left: 40%;
    margin-right: auto;
}

.img_col22{
    width:35%;
    display: block;
    margin-left: 50%;
    margin-right: auto;
}

.ligne{
    display: flex;
}

.txt_col1{
    flex:2.25;
    color:white;
    margin-left:20px;
    margin-right:auto;
}

.txt_col2{
    flex:2.25;
    color:white;
    margin-left:35px;
    margin-right:auto;
}

.txt_col3{
    flex:1;
    color:white;
    text-align:left;
    margin-left:auto;
    margin-right:20px;
}

.txt_col12{
    flex:1;
    color:#ffffff;
    text-align: center;
}

.txt_col22{
    flex:1;
    color:#ffffff;
    text-align: center;
}

.bas_de_page{
    color:white;
    text-align:center;
    height:40px;
    width: 100%;
    background :#ED1D24;
    margin:auto;
    line-height: 40px;
    vertical-align:center;
}

.pos{
    color:rgb(0, 116, 211);
}

.image_id{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt_tab{
    color:white;
    text-align:center;
}

.leg{
    text-decoration: underline;
    color: #ffffff;
}

.shield{
    background :#000000;
}

.tit_shield{
    color:white;
    background :#000000;
    font-size: large;
}

.leg_shield{
    color:#ffffff;
}

.hydra{
    background :#962a00;
}

.tit_hydra{
    color:white;
    background :#962a00;;
    font-size: large;
}

.leg_hydra{
    color:#962a00;
}

.inde{
    background :#4c4d80;
}

.tit_inde{
    color:white;
    background :#4c4d80;;
    font-size: large;
}

.leg_inde{
    color:#4c4d80;
}

.ssr{
    background :#857a3c;
}

.tit_ssr{
    color:white;
    background :#857a3c;;
    font-size: large;
}

.leg_ssr{
    color:#857a3c;
}

/*Les class a,b,c sur les tableaux servent pour les placements, a : colonne 1; b : col 2...*/
/*l1,l2 et l3 correspondent aux lignes*/

.c{
    position:absolute;
    right:20px;
}
.b{
    position:absolute;
    left:500px;
}
.a{
    position:absolute;
    left:20px;
}

.l1{
    top:100px;
}
.l2{
    top:650px;
}
.l3{
    top:1200px;
}

.attente{
    vertical-align:center;
    text-align:center;
}

table{
    border-collapse: collapse;
}

.fond_leg{
    background:#000000;
    width: 25%;
}